#Set Starting Page
DirectoryIndex views/login.php

#Disable Directory Listing
Options -Indexes

#Error Messages
ErrorDocument 401 "You are unauthorized"
ErrorDocument 403 "You are forbidden"
ErrorDocument 404 "Not found LOLOLOL"